<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908121019780-fijc8p7kp0mg3853mmm3b34voqbnp1d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908121019780-fijc8p7kp0mg3853mmm3b34voqbnp1d2</string>
	<key>API_KEY</key>
	<string>AIzaSyDtN4IxY8PBaUKuf91gKnMPVQAu_FtFzZU</string>
	<key>GCM_SENDER_ID</key>
	<string>908121019780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unicef.ureport</string>
	<key>PROJECT_ID</key>
	<string>u-report-813ba</string>
	<key>STORAGE_BUCKET</key>
	<string>u-report-813ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908121019780:ios:7f34fafb63f2eace57b9d1</string>
	<key>DATABASE_URL</key>
	<string>https://u-report-813ba.firebaseio.com</string>
</dict>
</plist>